:root {
    --customHoligram_v1: #083a54;
    --customHoligram_v2: #141b2b;
}
::-webkit-input-placeholder { 
    color: white !important;
  }
  ::-moz-placeholder {
    color: white !important;
  }
  :-ms-input-placeholder { 
    color: white !important;
  }
  :-moz-placeholder { 
    color: white !important;
  }
.backgroundCover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gradient_0_dark::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 25;
    pointer-events: none;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.customListBody16 li
{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.customListBody16 li a
{
    color: var(--customHoligram_v2);
}

.customListBody16 li:hover
{
    font-weight: bold;
}

.customListBody16 li::before {
    content: "/";
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    color: #45B4E2;
    font-weight: bold;
}

.customListBody16 li:first-child::before {
    display: none;
}

.customGallery1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
    z-index: 95;
    pointer-events: none;
}

.itemGallery16 {
    transform: scale(1);
    position: relative;
}

.itemGallery16 img {
    opacity: .25;
    margin-bottom: 12px;
}

.itemGallery16Active {
    transform: scale(.9);
}

.itemGallery16Active img {
    opacity: 1;
    animation: itemGallery16ActiveAnimIn .8s ease-out 0s 1 normal forwards;
}

.itemGallery16Active h3 {
    opacity: 0;
    animation: textSliderIn .5s ease-out 0.2s 1 normal forwards;
}

.itemGallery16Active p {
    opacity: 0;
    animation: textSliderIn .5s ease-out 0.5s 1 normal forwards;
}

@keyframes itemGallery16ActiveAnimIn {
    0% {
        transform: scale(1.25);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 2;
    }
}

@keyframes textSliderIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.descriItemGallery16 {
    position: absolute;
    left: 5%;
    bottom: 0;
}

.itemGallery16Active .descriItemGallery16 {
    position: relative !important;
}

.descriItemGallery16 p {
    display: none;
    margin: 0;
}

.itemGallery16Active p {
    margin-top: 5px;
    display: block !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--customHoligram_v1);
}

.descriItemGallery16 h3 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: var(--customHoligram_v2);
}

.descriItemGallery16 h3::after {
    content: "";
    width: 200px;
    height: 3px;
    background-color: #45B4E2;
    display: block;
    padding: 0;
    margin-top: 5px;
}


.itemGallery16Active .descriItemGallery16 h3::after {
    display: none;
}

.navbarCustomDark, .navbarCustomLight {
    z-index: 999;
}

.navbarCustomDark, .navbarCustomLight a {
    font-size: 14px;
}

idioma .logoDarkVersion, .navbarCustomDark .iconDarkVersion {
    display: block;
}

.navbarCustomDark .logoLightVersion, .navbarCustomDark .iconLightVersion {
    display: none;
}

.navbarCustomLight .logoDarkVersion, .navbarCustomLight .iconDarkVersion {
    display: none;
}

.navbarCustomLight .logoLightVersion, .navbarCustomLight .iconLightVersion {
    display: block;
}
.navbarCustomDark .idioma
{
    /*display: none;*/
    background-color: black;
    color: white !important;
}

.navbarCustomLight .idioma
{
    background-color: #f0f0f0;
    border-color: rgb(0,0,0, .25);
}

/* PAGINA PRINCIPAL */
.mainSlider {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mainSlider::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.mainSlider .swiper-slide {
    width: 100%;
    height: 100%;
    background-color: black;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.itemTeam
{ 
    cursor: pointer;
    /*grayscale for background image*/
    -webkit-filter: grayscale(1); 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    filter: gray; 
    filter: grayscale(100%);
    overflow: hidden;
    border-radius: 0px;
    border:solid 1px rgba(0, 0, 0, 0);

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    
}
.itemTeam:hover,.itemTeam:active
{
    -webkit-filter: grayscale(0); 
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%);
    filter: none; 
    filter: grayscale(0%);
    border-radius: 25px;
    border:solid 1px rgba(0, 0, 0, 0.25);

    
}

/* PAGINA PRINCIPAL */

/*SCROLL ANIMATION*/
.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 1rem;
    height: 1rem;
    margin-left: -12px;
    -webkit-animation: scrollDown 1.4s infinite;
    animation: scrollDown 1.4s infinite;
    z-index: 8;
}

@keyframes scrollDown {
    0% {
        bottom: 50px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        bottom: 10px;
        opacity: 0;
    }
}

/*SCROLL ANIMATION*/

@media only screen and (max-width:991px) {
    .customMenuH14 {
        position: fixed;
        background-color: black;
        color: white;
        width: 325px;
        right: 0;
        top: 0;
        height: 100vh;
        padding: 20px;
        z-index: 9595;

        animation: navbarH14Animation 1s ease 0s 1 normal forwards;
    }

    .customMenuH14 ul {
        margin-top: 25px;
    }

    .customMenuH14 ul li a {
        color: white !important;
    }

}

.customMenuH14_v2 {
    position: fixed;
    background-color: black;
    color: white;
    width: 325px;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 20px;
    z-index: 9595;

    animation: navbarH14Animation 1s ease 0s 1 normal forwards;
}

.customMenuH14_v2 ul {
    margin-top: 25px;
}

.customMenuH14_v2 ul li a {
    color: white !important;
}


@keyframes navbarH14Animation {
    0% {
        transform: scaleX(0.4);
        transform-origin: 100% 100%;
        height: 100vh;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
        height: 100vh;
    }
}

/* NOSOTROS */
.itemNosotros {
    min-width: 200px;
}
.itemNosotros p
{
    font-size: 14px;
}
.itemNosotrosInside
{
    min-height: 500px;
    background-color: white;
}
.swiper-slide-active .itemNosotrosInside
{
    animation: AnimacionEntradaItemNosotros .8s ease 0s 1 normal forwards;
    position: relative;
    z-index: 25;
}
@keyframes AnimacionEntradaItemNosotros {
    0% {
      opacity: 0;
      transform: scale(1.4);
      transform-origin: 50% 100%;
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
      transform-origin: 50% 100%;
    }
}
.itemNosotrosImagen
{
    height: 90%;
    margin-top: 5%;
    background-position: center;
    background-size: cover;
    cursor: pointer;

}
.swiper-slide-active .itemNosotrosImagen
{
    animation: itemNosotrosImagenAnimacion .8s ease 0s 1 normal forwards;
}
@keyframes itemNosotrosImagenAnimacion {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
#sliderNosotros {
    width: 100%;
    height: 100%;
}

#sliderNosotros .swiper-slide {
    width: 60% !important;
}

.queNosDiferencia .col-lg-3 {
    border-right: solid 1px white;
}

.queNosDiferencia .col-lg-3:last-child {
    border-right: none;
}


.listTeamNosotros
{
    padding: 0 0 23px 1em;
    line-height: 26px;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: relative;
}

.listTeamNosotros>li {
    margin-bottom: 36px;
    display: inline-block;
    margin: 10px 5px 20px 5px;
    vertical-align: top;
    width: calc(19.5% - 10px);
}

.listTeamNosotros>li:nth-child(1) {
    width: 20%;
    padding-left: 0.65%;
    padding-right: 0.65%;
}
.listTeamNosotros>li:nth-child(15n) {
    width: 20%;
    padding-left: 0.65%;
    padding-right: 0.65%;
}
.listTeamNosotrosActive, .listTeamNosotrosExit
{
    height: 830px;
    position: initial;
}
.infoTeamNosotros
{
    width: 100%;
    max-width: 800px;
    
    position: absolute;
    display: none;
    left: 50%;
    top: auto;
    margin-top: 30px;
    padding: 25px;
    padding-bottom: 0;
    font-size: 14px;
    transform: translateX(-50%)
}
.listTeamNosotrosActive .infoTeamNosotros
{
    display: block;
    animation: animacionEntradaInfoTeamNosotros 1s ease 0s 1 normal forwards;
}

.listTeamNosotrosExit .infoTeamNosotros
{
    display: block;
    animation: animacionSalidaInfoTeamNosotros 1s ease 0s 1 normal forwards;
}

@keyframes animacionEntradaInfoTeamNosotros {
    0% {
      opacity: 0;
      transform: rotateX(70deg) translateX(-50%);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg) translateX(-50%);
      transform-origin: top;
    }
  }

@keyframes animacionSalidaInfoTeamNosotros {
    0% {
      opacity: 1;
      transform: rotateX(0deg) translateX(-50%);
      transform-origin: top;
    }
  
    100% {
        opacity: 0;
        transform: rotateX(70deg) translateX(-50%);
        transform-origin: top;
    }
  }

.imgTeamNosotros
{
    cursor: pointer;
    /*grayscale for background image*/
    -webkit-filter: grayscale(1); 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    filter: gray; 
    filter: grayscale(100%);

    border:solid 1px rgba(0, 0, 0, 0);

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.listTeamNosotrosActive .imgTeamNosotros
{
    -webkit-filter: grayscale(0); 
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%);
    filter: white; 
    filter: grayscale(0%);
}

.listTeamNosotros>li:hover .imgTeamNosotros,.listTeamNosotros>li:active .imgTeamNosotros
{
    /*grayscale for background image*/
    -webkit-filter: grayscale(0); 
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%);
    filter: white; 
    filter: grayscale(0%);

    border:solid 1px rgba(0, 0, 0, 0.25);
}
.miniNavBarNosotros
{
    /*margin-top: 50px;*/
    margin-bottom: 50px;
}
.miniNavBarNosotros li
{
    font-size: 14px;
}
.miniNavBarActive
{
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 2525;
    background-color: rgb(247, 247, 247);
    padding-top: 15px;
    padding-bottom: 15px;
    
}

@media only screen and (max-width:991px) {
    .queNosDiferencia .col-lg-3 {
        border-right: none;
    }
}
@media only screen and (max-width:767px) {
    .listTeamNosotros>li,.listTeamNosotros>li:nth-child(1),.listTeamNosotros>li:nth-child(15n) {
        margin-bottom: 36px;
        display: inline-block;
        margin: 10px 5px 20px 5px;
        vertical-align: top;
        width: calc(100% - 10px);
    }
    .infoTeamNosotros
    {
        max-height: 660px;
        overflow: auto;
    }
    .infoTeamNosotros img
    {
        max-width: 200px !important;
        margin-bottom: 20px;
    }
    .listTeamNosotrosActive, .listTeamNosotrosExit
    {
        height: 1100px;
        position: initial;
    }
}


@media only screen and (max-width:624px) {
    #sliderNosotros .swiper-slide {
        width: 90% !important;
    }
}

/* NOSOTROS */

/* SERVICIOS */
.itemPageServicios
{
    position: relative;
    overflow: hidden;
    display: block;
}
.itemPageServicios h6{
    background-color: rgba(3,58,85,.8);
    font-size: 18px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}
.itemPageServicios img
{
    opacity: .5;
}

.itemPageServicios:active img, .itemPageServicios:hover img {
    animation: animacionHoverItemServicios 1s ease-out 0s 1 normal forwards;
}

@keyframes animacionHoverItemServicios {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

/* SERVICIOS */

/* EVENTOS DETALLE */

#slider2 img {
    padding-left: 120px;
    cursor: pointer;
}

#slider2 .swiper-slide {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.textInfoSlider2 {
    width: 80%;
    max-width: 650px;
    padding: 50px;
    background-color: white;
    position: absolute;
    z-index: 22;
    height: 70%;
    max-height: 550px;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0.05rem 1rem rgba(0, 0, 255, .15);
    margin-left: -200px;
    overflow: auto;
    display: none;
    font-size: 14px;
}

.swiper2Active .textInfoSlider2 {
    display: block;
    animation: scaleInEntrada .5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
}

@keyframes scaleInEntrada {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(1.5);
    }

    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}

.swiper2Active img {
    padding-left: 150px;
    animation: animacionEntradaImagen .5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
}

@keyframes animacionEntradaImagen {
    0% {
        transform: translateX(150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width:1400px) {
    #slider2 .swiper-slide {
        width: 60%;
    }
}

@media only screen and (max-width:1200px) {
    .textInfoSlider2 {
        height: 70%;
        max-height: 400px;
    }
}

@media only screen and (max-width:991px) {
    #slider2 .swiper-slide {
        width: 100%;
        padding-top: 200px;
        padding-bottom: 40px;
        position: relative;
        padding-left: 10%;
        padding-right: 10%;
    }

    #slider2 img {
        padding-left: initial;
        margin-top: initial;
    }

    .textInfoSlider2 {
        width: 75%;
        transform: initial;
        left: 12.5%;
        top: 150px;
        margin-left: initial;
        max-width: initial;
        min-height: 200px;
        height: auto;
        font-size: 14px;
    }

    .swiper2Active img {
        padding-left: initial !important;
    }
}

@media only screen and (max-width:768px) {
    #slider2 .swiper-slide {
        width: 100%;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 150px;
    }

    .textInfoSlider2 {
        width: 90%;
        left: 5%;
        top: initial;
        padding: 25px;
    }
}

/* EVENTOS DETALLE */

/* SOLUCIONES */
.imgLogoMarcas {
    width: 125px;
    height: auto;
    margin: auto;
}

.solucionesDetalle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 15;
    font-size: 14px;
    overflow: auto;
    display: none;

}

.itemServicios {
    perspective: 500px;
    overflow: hidden;

}

.itemServiciosActive .solucionesDetalle {
    display: block;
    animation: animacionEntradaSolucionDetalle .5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
}

@keyframes animacionEntradaSolucionDetalle {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        transform-style: preserve-3d;
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
}

.itemServiciosSalida .solucionesDetalle {
    display: block;
    animation: animacionEntradaSolucionDetalleSalida .5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
}

@keyframes animacionEntradaSolucionDetalleSalida {
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
        transform-style: preserve-3d;
    }
}

/* SOLUCIONES */